/* icon */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/* general text */
.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Title */
.josefin-slab{
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* cards */
.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}
  
.arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}
  
.arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}
  
.arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
}
  
/* color  */

/* CSS HEX */
--isabelline: #F2F1ECff;
--seasalt: #F8F8F8ff;
--dim-gray: #6F6E68ff;
--platinum: #DFDFDBff;
--timberwolf: #D4D1CBff;

/* CSS HSL */
--isabelline: hsla(50, 19%, 94%, 1);
--seasalt: hsla(0, 0%, 97%, 1);
--dim-gray: hsla(51, 3%, 42%, 1);
--platinum: hsla(60, 6%, 87%, 1);
--timberwolf: hsla(40, 9%, 81%, 1);

/* SCSS HEX */
$isabelline: #F2F1ECff;
$seasalt: #F8F8F8ff;
$dim-gray: #6F6E68ff;
$platinum: #DFDFDBff;
$timberwolf: #D4D1CBff;

/* SCSS HSL */
$isabelline: hsla(50, 19%, 94%, 1);
$seasalt: hsla(0, 0%, 97%, 1);
$dim-gray: hsla(51, 3%, 42%, 1);
$platinum: hsla(60, 6%, 87%, 1);
$timberwolf: hsla(40, 9%, 81%, 1);

/* SCSS RGB */
$isabelline: rgba(242, 241, 236, 1);
$seasalt: rgba(248, 248, 248, 1);
$dim-gray: rgba(111, 110, 104, 1);
$platinum: rgba(223, 223, 219, 1);
$timberwolf: rgba(212, 209, 203, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
$gradient-right: linear-gradient(90deg, #F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
$gradient-bottom: linear-gradient(180deg, #F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
$gradient-left: linear-gradient(270deg, #F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
$gradient-top-right: linear-gradient(45deg, #F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
$gradient-bottom-right: linear-gradient(135deg, #F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
$gradient-top-left: linear-gradient(225deg, #F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
$gradient-bottom-left: linear-gradient(315deg, #F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
$gradient-radial: radial-gradient(#F2F1ECff, #F8F8F8ff, #6F6E68ff, #DFDFDBff, #D4D1CBff);
