<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
     <!-- Documents Css -->
     {% load static %}
     <link rel="stylesheet" href="{% static 'base.css' %}">
    <!-- Google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
   
    <!-- Agrega Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!--Script Stripe-->
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="preload" href="https://cms.coachoutlet.com/i/coachoutlet/20240214-m2-20-off-promo-wallets.png?&w=960&sm=aspect&aspect=581:725&fmt=webp" as="image">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <!-- navbar -->
    <body class=" bg-slate-50">
      <nav 
      
        class="arvo-regular fixed h-28 top-0 left-0 w-full px-4 py-2 flex justify-between items-center bg-slate-50   z-10"
      >
       
        <div class="flex">
            <a class="flex" href="/store">
              <img data-aos="fade-up" data-aos-duration="2000" class="h-9 w-9"  src = "../static/logo.png" alt="logo"/>
              <img data-aos="fade-up" data-aos-duration="2000" class="h-9 w-19" src = "../static/title_logo.png" alt="logo"/>
            </a>
            
        </div>
        

        <div class="lg:hidden">
          <button class="navbar-burger flex items-center p-3">
            <svg
              class="block h-4 w-4 fill-current"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Mobile menu</title>
              <path  d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
        </div>
        
        <ul  
          class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6"
        >
        
          
            <a 
              data-aos="fade-up" data-aos-duration="2000"
              class=" text-lg text-black-400 hover:text-gray-500 "
              href="/store"
              >Tienda</a
            >
          
            <a 
              data-aos="fade-up" data-aos-duration="2000"
              class="  text-lg text-black-400 hover:text-gray-500"
              href="/contactus"
              >Nosotros</a
            >
          
          {%if request.session.customer%}
        <div>
          <a data-aos="fade-up" data-aos-duration="2000"
          class=" hidden lg:inline-block block text-lg text-black-400 hover:text-gray-500"
          href="">
          <span class="badge badge-success m-2">
            Hola {{request.session.email}}
          </span>
          </a>

          <a data-aos="fade-up" data-aos-duration="2000"
          class=" hidden lg:inline-block block text-lg text-black-400 hover:text-gray-500"
          href="/logout">
          <span class="badge badge-success m-2">
            Cerrar sesion
          </span>
          </a>

          <a data-aos="fade-up" data-aos-duration="2000"
          class="  hidden lg:inline-block block text-lg text-black-400 hover:text-gray-500"
          href="/orders">
          <span class="badge badge-success m-2">
            Orden
          </span>
          </a>
          <a data-aos="fade-up" data-aos-duration="2000"
          class=" hidden lg:inline-block block text-lg text-black-400 hover:text-gray-500"
          href="/cart"
          > Carrito 
          <span class="badge badge-success m-2">{{ request.session.total_items }}</span>
          <span class="sr-only">(current)</span></a>
          </a>
        </div>
          
        {%else%}
          <a data-aos="fade-up" data-aos-duration="2000"
          class=" text-lg text-black-400 hover:text-gray-500 "
          href="/login"
          >Entrar</a>
          <a data-aos="fade-up" data-aos-duration="2000"
          class="text-lg text-black-400 hover:text-gray-500 "
          href="/signup"
          >Registrarse</a>

        {% endif %}


        </ul>
        

            
        
    {% comment %} navbar mobile device {% endcomment %}
      </nav>
      <div class="navbar-menu relative z-50 hidden">
        <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25 "></div>
        <nav
          class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-4 px-6 bg-white border-r overflow-y-auto"
        >
          <div class="flex items-center mb-8">
            <a class="mr-auto flex  leading-none" href="/store">
                  <img  class="h-9 w-9"  src = "../static/logo.png" alt="logo"/>
                  <img  class="h-9 w-19" src = "../static/title_logo.png" alt="logo"/>
            </a>
            <button class="navbar-close">
              <svg
                class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </button>
          </div>
          <div>
            <ul>
              <li class="mb-1">
                <a
                  class="block p-4 text-sm arvo-regular text-gray-400 hover:bg-gray-50 hover:text-black-600 rounded"
                  href="/store"
                  >Tienda</a
                >
              </li>
              <li class="mb-1">
                <a
                  class="block p-4 text-sm arvo-regular text-gray-400 hover:bg-gray-50 hover:text-black-600 rounded"
                  href="/contactus"
                  >Nosotros</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-auto">
            {% comment %} to configure {% endcomment %}
            <div class="pt-6">              
              {% if request.session.customer %}
                <a
                  class="block px-4 py-3 mb-2 leading-loose text-xs text-center arvo-regular text-white  bg-gray-600 hover:bg-gray-700 rounded-xl"
                  href="/orders">Orden 
                  {% comment %} <span class="badge badge-success">{{request.session.cart.keys}}</span> {% endcomment %}
                  <span class="sr-only">(current)</span></a>
                </a>
                <a
                  class="block px-4 py-3 mb-2 leading-loose text-xs text-center arvo-regular text-white  bg-gray-600 hover:bg-gray-700 rounded-xl"
                  href="/cart">
                  <span class="badge badge-success">
                    Hola {{request.session.email}}
                  </span>
                  </a>
                </a>
                <a
                  class="block px-4 py-3 mb-2 leading-loose text-xs text-center arvo-regular text-white  bg-gray-600 hover:bg-gray-700 rounded-xl"
                  href="/cart">Carrito
                  </a>
                </a>
                <a
                  class="block px-4 py-3 mb-2 leading-loose text-xs text-center arvo-regular text-white  bg-gray-600 hover:bg-gray-700 rounded-xl"
                  href="/logout">
                  <span class="badge badge-success">
                    Cerrar sesion
                  </span>
                  </a>
                </a>
              {% else %}
                <a
                  class="block px-4 py-3 mb-3 leading-loose text-xs text-center  arvo-regular leading-none bg-gray-50 hover:bg-gray-100 rounded-xl"
                  href="/login"
                  >Iniciar</a>
                <a
                  class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white  arvo-regular bg-gray-500 hover:bg-gray-500 rounded-xl"
                  href="/signup"
                  >Registrarse</a>
                {% endif %}
        </nav>
      </div>
        </div>
        
         
        

       {% block content %}{% endblock %}   
      </section>
      <footer class="w-full text-gray-700 bg-gray-100 body-font">
        <div data-aos="fade-up" data-aos-duration="2000"
            class="container flex flex-col flex-wrap px-5 py-10 mx-auto md:items-center lg:items-start md:flex-row md:flex-no-wrap">
            <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left">
                
                
                <div class="mt-4">
                    <span class="inline-flex justify-center mt-1 sm:ml-auto sm:mt-0 sm:justify-start">
                        <a class="text-gray-500 cursor-pointer hover:text-gray-700" href="https://www.facebook.com/usa.delivery.2024">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                            
                        </a>
                    </span>
                </div>
            </div>
            <div class="flex flex-wrap flex-grow mt-5 -mb-5 text-center md:pl-20 md:mt-0 md:text-left">
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Nosotros</h2>
                    <nav class="mb-5 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900" href="https://www.facebook.com/profile.php?id=61555982112960">Empresa</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Soporte</h2>
                    <nav class="mb-5 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900" href="/contactus">Contactanos</a>
                        </li>
                    </nav>
                </div>
                <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Plataforma
                    </h2>
                    <nav class="mb-5 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900" href="/term_privacy">Terminos &amp; Condiciones</a>
                        </li>
                       
                    </nav>
                </div>
                
            </div>
        </div>
        <div class="bg-gray-100">
            <div class="container px-5 py-4 mx-auto">
                <p class="text-sm text-gray-700 capitalize xl:text-center">© 2023 USA Delivery </p>
            </div>
        </div>
    </footer>
    {% comment %} </body> {% endcomment %}

    
    <!--Script Menu--->
    <script>
      // Burger menus
      document.addEventListener("DOMContentLoaded", function () {
        // open
        const burger = document.querySelectorAll(".navbar-burger");
        const menu = document.querySelectorAll(".navbar-menu");

        if (burger.length && menu.length) {
          for (var i = 0; i < burger.length; i++) {
            burger[i].addEventListener("click", function () {
              for (var j = 0; j < menu.length; j++) {
                menu[j].classList.toggle("hidden");
              }
            });
          }
        }

        // close
        const close = document.querySelectorAll(".navbar-close");
        const backdrop = document.querySelectorAll(".navbar-backdrop");

        if (close.length) {
          for (var i = 0; i < close.length; i++) {
            close[i].addEventListener("click", function () {
              for (var j = 0; j < menu.length; j++) {
                menu[j].classList.toggle("hidden");
              }
            });
          }
        }

        if (backdrop.length) {
          for (var i = 0; i < backdrop.length; i++) {
            backdrop[i].addEventListener("click", function () {
              for (var j = 0; j < menu.length; j++) {
                menu[j].classList.toggle("hidden");
              }
            });
          }
        }
      });
    </script>
    <!--Script Add address with zip code--->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var postalCodeField = document.getElementById('code_postal');
        postalCodeField.addEventListener('change', function() {
            var postalCode = this.value;
            fetch(`/get_addresses/?code_postal=${postalCode}`)
            .then(response => response.json())
            .then(data => {
                var addressSelect = document.getElementById('address');
                addressSelect.innerHTML = ''; // Limpiar las opciones anteriores
                // Asegúrate de que 'data' es un array y que los items son strings.
                if(Array.isArray(data)) {
                    data.forEach(function(locality) {
                        // Como 'locality' es un string, lo usamos directamente para el texto y el valor.
                        var option = new Option(locality, locality);
                        addressSelect.appendChild(option);
                    });
                } else {
                    console.error('La respuesta no es un array:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
    
    
    </script>
    <!--Script Stripe--->
    <script>
      // Agrega un controlador de eventos a tu botón de pago o formulario
      document.getElementById('checkout-button').addEventListener('click', function(e) {
  // Opcional: Mostrar alguna animación de carga al usuario

  // Hacer una solicitud al backend para crear una sesión de pago
      fetch('/create-checkout-session/', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
      // Incluir CSRF token si es necesario
        },
    // Incluir cualquier dato adicional si es necesario
      })
      .then(function(response) {
      return response.json();
      })
      .then(function(session) {
      // Usar Stripe.js para redirigir a la página de pago
      var stripe = Stripe('pk_live_51OMrQHLtLKOujhTJi0dyQOy855RPRT649gD0uNfx6UdC0jkriaIuwKnGXQtVxwDUNDXYL8nWTq7WuJKojjmdcSKg00obvmqW7b');
      return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function(result) {
        // Si `redirectToCheckout` falla, mostrar el error al usuario
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function(error) {
    // Manejar errores en la solicitud al backend
      console.error('Error:', error);
    });
  });
    </script>


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper('.mySwiper', {
        // Parámetros de Swiper
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        // Navegación con flechas
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        // Responsive breakpoints
        breakpoints: {
          // cuando la pantalla sea >= 640px
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          // cuando la pantalla sea >= 768px
          768: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        },
      });
    </script>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init()
    </script>


  
    

  </body>
</html>
