{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="container mx-auto my-6 p-4">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
         <div class="p-6">
             <h2 class="text-2xl font-bold text-green-500 mb-4">Tu carrito</h2>
             <div class="overflow-x-auto mt-6">
                 <table class="w-full text-gray-700">
                     <thead class="bg-gray-100">
                         <tr>
                             <th class="py-2 px-4 text-left">No.</th>
                             <th class="py-2 px-4 text-left"></th>
                             <th class="py-2 px-4 text-left">Producto</th>
                             <th class="py-2 px-4 text-left">Precio</th>
                             <th class="py-2 px-4 text-left">Cantidad</th>
                             <th class="py-2 px-4 text-left">Total</th>
                         </tr>
                     </thead>
                     <tbody>
                         {% for product in productbyid %}
                         <tr class="border-b">
                             <td class="py-2 px-4">{{ forloop.counter }}</td>
                             <td><img class="inline-block object-cover h-12 w-12 sm:h-16 sm:w-16 md:h-24 md:w-24 object-cover rounded-full" src="{{product.image}}" alt=""></td>
                             <td>{{product.name}}</td>
                             <td>{{product.price}} mxn</td>
                             <td>{{product|cart_quantity:request.session.cart}}</td>
                             <td>{{product|price_total:request.session.cart}}</td>
                         </tr>
                         {% endfor %}
                     </tbody>
                     <tfoot class="bg-gray-50">
                         <tr>
                             <th colspan="4" class="py-2 px-4 text-left"></th>
                             <th class="py-2 px-4 text-left">Total</th>
                             <th class="py-2 px-4 text-left">{{productbyid|total_cart_price:request.session.cart}} mxn</th>
                         </tr>
                     </tfoot>
                 </table>
             </div>
         </div>
         <div class="px-6 py-4 bg-gray-50 border-t flex justify-end">
             <button onclick="document.getElementById('checkoutModal').classList.remove('hidden')" class="px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
                 Hacer pedido
             </button>
             <form action="{% url 'cart' %}" method="post" class="ml-4">
                 {% csrf_token %}
                 <input type="submit" value="Vaciar Carro" class="px-6 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 cursor-pointer">
             </form>
         </div>
    </div>
 </div>

<!-- Modal -->
<div id="checkoutModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <div class="relative top-20 mx-auto p-5 border w-11/12 max-w-md shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Comprar
            </h3>
            <div class="mt-2 px-7 py-3 arvo-regular">
                <form action="/check-out/" method="POST">
                    {% csrf_token %}

                    
                    <div class="mb-4">
                        <label for="code_postal" class="block text-gray-700 text-sm  mb-2">Código Postal</label>
                        <input type="text" name="code_postal" id="code_postal" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Tu Código Postal">
                    </div>
                    <div class="mb-4">
                        <label for="address" class="block text-gray-700 text-sm  mb-2">Colonia</label>
                        <select name="address" id="address" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="calle" class="block text-gray-700 text-sm  mb-2">Calle</label>
                        <input type="text" name="calle" id="calle" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nombre de la calle">
                    </div>
                    <div class="mb-4">
                        <label for="calle" class="block text-gray-700 text-sm  mb-2">Número Interior</label>
                        <input type="text" name="num_int" id="num_int" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Número interior de la calle">
                    </div>
                    
                    <div class="mb-4">
                        <label for="phone" class="block text-gray-700 text-sm  mb-2">Teléfono</label>
                        <input type="text" name="phone" id="phone" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Tu numero teléfonico">
                    </div>
                    <section class="mb-4">
                        <div class="mb-4">
                            <h3>Precio Final</h3>
                            <h5>{{productbyid|total_cart_price:request.session.cart}} mxn</h5>
                        </div>
                    </section>
                    <div class="flex items-center justify-between">
                          
                            <button type="button" onclick="document.getElementById('checkoutModal').classList.add('hidden')" class="px-4 py-2 rounded text-sm text-red-500 border border-red-500 hover:bg-red-500 hover:text-white">Cancelar</button>
                            <input type="submit" class="px-4 py-2 rounded text-sm text-green-500 border border-green-500 hover:bg-green-500 hover:text-white cursor-pointer" value="Pedir">
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
