{% extends "base.html" %}
{% block content  %}
{% load cart %}
{% load custom_filter %}


<section >
<div class="bg-white text-black ">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center md:my-14"
  >
    <div
      class="flex flex-col w-full lg:w-1/3 justify-center items-start p-8"
    >

      <h1  data-aos="fade-up" data-aos-duration="2000" class="text-gray-500 text-6xl mt-10 md:text-5xl pt-10 p-1  tracking-loose text-bold">
        USA Delivery
      </h1>      
       <h2 data-aos="fade-up" data-aos-duration="2000" class="text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
        Acerca de nosotros
      </h2>
      <p data-aos="fade-up" data-aos-duration="2000" class="r text-sm md:text-base mb-4">
        En USA Delivery, nuestra historia comienza con un compromiso inquebrantable con la excelencia. 
        Como empresa fundada en el norte de México, llevamos con orgullo la responsabilidad de 
        ser su puente confiable con los productos de calidad estadounidense.
        Nuestra promesa es simple: eliminamos intermediarios para garantizar un servicio de entrega directo y eficiente en todo el territorio nacional. 
        Con USA Delivery, experimenta la comodidad de comprar internacionalmente, sin salir de casa.
      <hr>
      <h2 data-aos="fade-up" data-aos-duration="2000"
        class="   text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2"
      >
        Un Viaje de Confianza
      </h2>
      <p data-aos="fade-up" data-aos-duration="2000" class=" text-sm md:text-base mb-4">
        
        Desde el primer día, nos hemos dedicado a construir un viaje de confianza con cada cliente. 
        Creemos firmemente que la confianza es la columna vertebral de cualquier relación duradera y es 
        por eso que cada paquete entregado representa nuestro sello de promesa y confiabilidad.
      <hr>
      
    </div>
    <div data-aos="fade-up" data-aos-duration="2000"
      class="p-6 mb-6 md:mb-0 md:mt-0 ml-0 md:ml-12 lg:w-2/3 justify-center"
    >
      <div data-aos="fade-up" data-aos-duration="2000" class="h-30 flex flex-wrap content-center">
        <div data-aos="fade-up" data-aos-duration="2000">
          <img
            class="h-auto"
            src="../static/aboutusnew.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!--second section--->
<section >
<div class="bg-white text-black">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center md:my-14"
  >
    <div
      class="flex flex-col w-full lg:w-1/2 justify-center items-start p-8"
    >
    <div>
      <img data-aos="fade-up" data-aos-duration="2000"
        class="h-auto"
        src="../static/aboutusnew2.png"
      />
    </div>
      
    </div>
    <div
      class="p-6 mb-6 md:mb-0 md:mt-0 ml-0 md:ml-12 lg:w-1/2 justify-center"
    >
      <div class="h-30 flex flex-wrap content-center">

      <h2 data-aos="fade-up" data-aos-duration="2000"
        class="   text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2"
      >
      Profesionalismo en Cada Paso
      </h2>
      <p data-aos="fade-up" data-aos-duration="2000" class=" text-sm md:text-base mb-4">
        Contamos con un equipo profesional y dedicado en nuestra organización, donde cada uno de nuestros miembros es un experto en su campo correspondiente, 
        ya sea logística o servicio al cliente. Gracias a nuestro nivel de profesionalismo, podemos garantizar la entrega eficiente y segura de cada artículo seleccionado hasta su domicilio.
      <hr>
      <h2 data-aos="fade-up" data-aos-duration="2000"
        class="  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2"
      >
      Valores que Nos Guían
      </h2>
      <div data-aos="fade-up" data-aos-duration="2000" class=" text-sm md:text-base mb-4">
        <ul data-aos="fade-up" data-aos-duration="2000">
            <li><strong>Integridad:</strong> Cada operación que realizamos se lleva a cabo con integridad y transparencia.</li>
            
            <li><strong>Calidad:</strong> Elegimos productos que cumplen con rigurosos estándares de calidad.</li>
            
            <li><strong>Innovación:</strong> Trabajamos arduamente para mantenernos a la vanguardia en logística y proporcionarle la mejor experiencia de compra posible.</li>
            
            <li><strong>Compromiso:</strong> Nos dedicamos a fomentar el progreso económico de nuestras comunidades como prioridad.</li>
        </ul>
        
    </div>
      </div>
    </div>
  </div>
</div>
</section>

<!--third section-->
<section>
  <div class="bg-white text-black">
    <div
      class="container mx-auto flex flex-col md:flex-row items-center md:my-14"
    >
      <div
        class="flex flex-col w-full lg:w-1/2 justify-center items-start p-8"
      >
      <div>
        <div class="h-30 flex flex-wrap content-center">
  
          <h2 data-aos="fade-up" data-aos-duration="2000"
            class="  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2"
          >
          Nuestra Promesa
          </h2>
          <p data-aos="fade-up" data-aos-duration="2000" class=" text-sm md:text-base mb-4">
            Eliminamos intermediarios no solo para mejorar la eficiencia sino para asegurar que usted reciba lo mejor de Estados Unidos sin sorpresas ni costos ocultos. Estamos dedicados a proporcionar un servicio que excede las expectativas, porque en USA Delivery, su hogar es nuestro destino final.
          <h2 data-aos="fade-up" data-aos-duration="2000"
            class="   text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2"
          >
          La Invitación
          </h2>
          <p data-aos="fade-up" data-aos-duration="2000" class="arvo-regular text-sm md:text-base mb-4">
            Le invitamos a experimentar la comodidad de comprar internacionalmente con la tranquilidad de saber que está en manos de expertos. Con USA Delivery, cada entrega es un paso más en una relación basada en el respeto mutuo y el compromiso de calidad.
          
          <h2 data-aos="fade-up" data-aos-duration="2000" class="  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
          Contactanos
          </h2>
          
          <a data-aos="fade-up" data-aos-duration="2000" class="m-4" href="https://api.whatsapp.com/send?phone=8262621727">
            <img class="h-10 w-10" src="../static/whatsapp.png" alt="">
          </a>
          <a data-aos="fade-up" data-aos-duration="2000" class="m-4" href="https://www.facebook.com/profile.php?id=61555982112960">
            <img class =" h-10 w-10"src="../static/facebook.png" alt="">
          </a>
          <a data-aos="fade-up" data-aos-duration="2000" class="m-4" href="https://www.instagram.com/usadelivery90/">
            <img class =" h-10 w-10"src="../static/insta.png" alt="">
          </a>
          </div>
      </div>
        
      </div>
      <div
        class="p-6 mb-6 md:mb-0 md:mt-0 ml-0 md:ml-12 lg:w-1/2 justify-center"
      >
      <div>
        <img data-aos="fade-up" data-aos-duration="2000"
          class="h-auto"
          src="../static/aboutusnew3.png"
        />
      </div>
        
      </div>
    </div>
  </div>
    
</section>

{% endblock   %}







