{% extends 'base.html' %}
{% block content%}
{% load cart %}
{% load custom_filter %}
<!--CardS-->



<div class=" libre-baskerville-bold bg-black mt-16 p-5 text-white text-center ">
          <h1 data-aos="fade-up" data-aos-duration="2000" class=" mt-9  px-8 text-xl ">
            Envío gratis en todos los productos
          </h1>
</div>
<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper   relative h-60 overflow-hidden  md:h-96-->
  <div class=" relative h-lvh overflow-hidden md:h-96">
        <!-- Item 0 -->
      <div class="hidden duration-700 ease-in-out flex justify-center items-center " data-carousel-item style="height: 100%;">
        <img src="../static/1.png" class="absolute w-full h-full object-cover" alt="...">
        <h1 class="p-6 bg-gray-600/50 libre-baskerville-bold z-10 text-5xl sm:text-xl md:text-2xl lg:text-5xl xl:text-5xl tracking-tight text-white ">
          <a  href="#ofertas" class="scroll-smooth ">
            De 3 a 6 meses sin intereses
          </a>
        </h1>
      </div>
      <!-- Item 1-->
      <div class="hidden duration-700 ease-in-out flex justify-center items-center " data-carousel-item style="height: 100%;">
        <img src="../static/2.png" class="absolute w-full h-full object-cover" alt="..." >
        <h1 class="p-12 bg-gray-600/50  libre-baskerville-bold z-10 text-5xl sm:text-lg md:text-xl lg:text-5xl xl:text-5xl  tracking-tight text-white ">
          Envíos gratis dentro de  México
        </h1>
      </div>
       <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out  flex justify-center items-center" data-carousel-item  style="height: 100%;">
        <img src="../static/3.png" class="absolute w-full h-full object-cover" alt="...">
        <h1 class="p-10 bg-gray-600/50  libre-baskerville-bold z-10 text-7xl sm:text-xl md:text-2xl lg:text-7xl xl:text-7xl  tracking-tight text-white ">
          <a href="#ofertas" class="scroll-smooth">
            Piezas Únicas 
          </a>
        </h1>
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out flex justify-center items-center" data-carousel-item style="height: 100%;">
        <img src="../static/4.png" class="absolute w-full h-full object-cover" alt="..." >
        <h1 class="p-10 bg-gray-600/50  libre-baskerville-bold z-10 text-7xl sm:text-xl md:text-2xl lg:text-7xl xl:text-7xl  tracking-tight text-white  ">
          <a href="#ofertas" class="scroll-smooth">
            Marcas Exclusivas
          </a>
        </h1>
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out flex justify-center items-center" data-carousel-item style="height: 100%;">
        <img src="../static/5.png" class="absolute w-full h-full object-cover" alt="..." >
        <h1 class="p-10 bg-gray-600/50  libre-baskerville-bold z-10 text-7xl sm:text-xl md:text-2xl lg:text-7xl xl:text-7xl  tracking-tight text-white  ">
          <a href="https://www.facebook.com/profile.php?id=61555982112960" class="scroll-smooth">
            #USADelivery
          </a>
        </h1>
      </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
      
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-7 h-7 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-7 h-7 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>

  <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</div>


<!--Index Products-->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 m-2">
  {%with products_count=products_to_post|length%}
  
  {% if products_count > 5  %}
    {% for x in products_to_post  %}
      {%if forloop.counter <= 11 %}
<div data-aos="fade-up" data-aos-duration="2000" class=" max-w-sm mx-auto ">
  <div class=" bg-[rgb(240,240,240)]/[1] shadow-lg  ">
    <div class="card h-70 w-full flex justify-center items-center  overflow-hidden ">
      <a href="/{{x.id}}">
       <!--Image-->
        <img
          class="max-w-full h-auto object-contain  sm:h-48 sm:w-38  md:h-48 md:w-38 lg:h-48 lg:w-38 xl:h-48 xl:w-38 "
          src={{x.image}} 
          alt="product image"
        />
      </a>
    </div>
    
    <div class="card-content px-5 pb-5  ">
      <a href="/{{x.id}}">
        <!--Name-->
        <h3 class="libre-baskerville-bold text-gray-900  text-xl tracking-tight dark:text-gray-900">
        {{x.name}}
        </h3>
      </a>
       
      <div class="flex items-center mt-2.5 mb-5">
        
        {% if x.quantity > 0%}
        <span
          class="arvo-regular bg-gray-100 text-black text-s  rounded  "
          >{{x.quantity}} Disponibles</span
        >
        {% else %}
        <span
          class="arvo-regular bg-yellow-100 text-yellow-500 text-s font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-800 ml-3"
          >Agotado</span
        >
        {% endif %}
      </div>
      {% comment %} comparative price {% endcomment %}
      <div class="flex items-center">
        <span
          class="arvo-regular text-gray-800 text-s line-through "
          >$ {{x.comparative_price}} mxn</span
        >
      </div>
      <div class="flex items-center justify-between">
         <!--Price-->
        <span class=" arvo-regular text-2xl  text-gray-900 dark:text-gray-900"
          >${{x.price}}mx</span
        >
        {% comment %}
          function to add cardd ####################################################
        {% endcomment %}

        {% if x|is_in_cart:request.session.cart %}
            <div class="flex items-center justify-center space-x-1">
                <form action="/#{{x.id}}" class="col-2" method="post">
                    {% csrf_token %}
                    <input hidden type="text" name="product"  value='{{x.id}}' >
                    <input hidden type="text" name="remove" value="True" >
                    <input type="submit" value="-" class="arvo-regular float-right float-right btn btn-success form-control text-white bg-black hover:bg-black-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-3 py-1 text-center dark:bg-black-600 dark:hover:bg-black-700 dark:focus:ring-black-800 border-right">
                </form>
                
                    <div class="text-center text-black arvo-regular">{{x|cart_quantity:request.session.cart}}</div>
                
                <form action="/#{{x.id}}" class="col-2 " method="post">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{x.id}}'>
                    <input type="submit" value=" + " class="arvo-regular float-right float-right btn btn-success form-control text-white bg-black hover:bg-black-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-3 py-1 text-center dark:bg-black-600 dark:hover:bg-black-700 dark:focus:ring-black-800 border-left">
                </form>
            </div>
        {% else %}
        <form action="/#{{x.id}}"  method="POST" class="btn-block ">
                       {% csrf_token %}
                        <input hidden type="text" name='product' value='{{x.id}}'>
                        <button type="submit" class=" arvo-regular float-right btn btn-success form-control text-white  hover:bg-black-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-black-600 dark:hover:bg-black-700 dark:focus:ring-black-800"
                          value="Agregar">
                          
                          <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="704.081 796 200 200" enable-background="new 704.081 796 200 200" xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            
                            <g id="SVGRepo_iconCarrier"> <path d="M891.876,977.909l-6.938-125.811h-34.661v-10.157c0-25.333-20.608-45.941-45.94-45.941s-45.94,20.609-45.94,45.941v10.157 h-36.161l-5.969,126.355l-0.006,0.219c-0.049,4.547,1.758,9.01,4.955,12.239c3.198,3.233,7.641,5.089,12.19,5.089h141.351 c4.688,0,9.228-1.953,12.453-5.36C890.434,987.233,892.135,982.593,891.876,977.909z M770.379,841.941 c0-18.725,15.233-33.959,33.958-33.959c18.724,0,33.958,15.234,33.958,33.959v10.157h-67.917V841.941z M878.507,982.402 c-0.973,1.026-2.339,1.615-3.751,1.615H733.405c-1.37,0-2.707-0.558-3.672-1.534c-0.942-0.95-1.483-2.257-1.492-3.597l5.423-114.806 h24.731v15.173c0,3.309,2.682,5.991,5.991,5.991c3.309,0,5.991-2.682,5.991-5.991v-15.173h67.917v15.173 c0,3.309,2.682,5.991,5.991,5.991c3.309,0,5.99-2.682,5.99-5.991v-15.173h23.321l6.313,114.49 C879.99,979.98,879.478,981.377,878.507,982.402z"/> </g>
                            
                          </svg>
                        </button>
        </form>
        {% endif %}
        {% comment %} <a href="/{{x.id}}" class="arvo-regular float-right btn btn-success form-control text-white bg-black hover:bg-black-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-black-600 dark:hover:bg-black-700 dark:focus:ring-black-800">
          Ver</a> {% endcomment %}
      </div>
    </div>
  </div>
</div>
    {% endif %}
  {%endfor%}
{% else %}

  
  {% for x in products_to_post  %}
  <div>
  <h2>{{ x.name }}</h2>
  <p>{{ x.description }}</p>
  {# etc... #}
  </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    

</div>
<section id='ofertas'>
  <div  class="bg-black p-5 text-white text-center">
  <h1 class=" text-2xl libre-baskerville-bold   ">
    Únicas Piezas
  </h1>
</div>
<div data-aos="fade-up" data-aos-duration="2000" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 m-2">
  {% with products_count=products_to_post|length %}
  {% if products_count > 2 %}
    {% for x in products_to_post %}
      {% if forloop.revcounter <= 27 %}
        {# Renderiza la información del producto aquí #}
        <div class="max-w-2xl mx-auto">
          <div class="bg-[rgb(240,240,240)]/[1] shadow-lg  ">
            <div class=" card h-70 w-full flex justify-center items-center  overflow-hidden ">
              <a href="/{{x.id}}">
               <!--Image-->
                <img
                  class="max-w-full h-auto object-contain sm:h-48 sm:w-38  md:h-48 md:w-38 lg:h-48 lg:w-38 xl:h-48 xl:w-38 "
                  src={{x.image}} 
                  alt="product image"
                />
              </a>
            </div>
            
            <div class=" card-content px-5 pb-5">
              <a href="/{{x.id}}">
                <!--Name-->
                <h3 class=" libre-baskerville-bold text-gray-900  text-xl tracking-tight dark:text-gray-900">
                {{x.name}}
                </h3>
              </a>
               
              <div class="flex items-center mt-2.5 mb-5">
                
                {% if x.quantity > 0%}
                <span
                  class="arvo-regular bg-gray-100 text-black text-s  rounded "
                  >{{x.quantity}}  Disponibles</span
                >
                {% else %}
                <span
                  class=" bg-red-100 text-yellow-800 text-s font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-800 ml-3"
                  >Agotado</span
                >
                {% endif %}
              </div>
             {% comment %} precio comparado {% endcomment %}
              <div class="flex items-center">
                <span
                  class=" arvo-regular text-gray-800 text-s line-through"
                  >$ {{x.comparative_price}} mxn</span
                >
              </div>
              <div class="flex items-center justify-between">
                 <!--Price-->
                <span class="arvo-regular text-2xl  text-gray-900 dark:text-gray-900"
                  >${{x.price}}mx</span
                >
                
                {% comment %}
                  function to add cardd ####################################################
                {% endcomment %}
        
                {% if x|is_in_cart:request.session.cart %}
                    <div class="flex items-center justify-center space-x-2">
                        <form action="/#{{x.id}}" class="col-2" method="post">
                            {% csrf_token %}
                            <input hidden type="text" name="product"  value='{{x.id}}' >
                            <input hidden type="text" name="remove" value="True" >
                            <input type="submit" value="-" class="arvo-regular float-right float-right btn btn-success form-control text-white bg-black hover:bg-black-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-3 py-1 text-center dark:bg-black-600 dark:hover:bg-black-700 dark:focus:ring-black-800 border-right">
                        </form>
                        
                            <div class="text-center text-black arvo-regular">{{x|cart_quantity:request.session.cart}}</div>
                        
                        <form action="/#{{x.id}}" class="col-2 " method="post">
                            {% csrf_token %}
                            <input hidden type="text" name='product' value='{{x.id}}'>
                            <input type="submit" value=" + " class="arvo-regular float-right float-right btn btn-success form-control text-white bg-black hover:bg-black-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-3 py-1 text-center dark:bg-black-600 dark:hover:bg-black-700 dark:focus:ring-black-800 border-left">
                        </form>
                    </div>
                {% else %}
                <form action="/#{{x.id}}"  method="POST" class="btn-block ">
                               {% csrf_token %}
                                <input hidden type="text" name='product' value='{{x.id}}'>
                                <button type="submit" class=" arvo-regular float-right btn btn-success form-control text-white  hover:bg-black-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-black-600 dark:hover:bg-black-700 dark:focus:ring-black-800"
                                  value="Agregar">
                          
                                    <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="704.081 796 200 200" enable-background="new 704.081 796 200 200" xml:space="preserve">

                                      <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            
                                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            
                                      <g id="SVGRepo_iconCarrier"> <path d="M891.876,977.909l-6.938-125.811h-34.661v-10.157c0-25.333-20.608-45.941-45.94-45.941s-45.94,20.609-45.94,45.941v10.157 h-36.161l-5.969,126.355l-0.006,0.219c-0.049,4.547,1.758,9.01,4.955,12.239c3.198,3.233,7.641,5.089,12.19,5.089h141.351 c4.688,0,9.228-1.953,12.453-5.36C890.434,987.233,892.135,982.593,891.876,977.909z M770.379,841.941 c0-18.725,15.233-33.959,33.958-33.959c18.724,0,33.958,15.234,33.958,33.959v10.157h-67.917V841.941z M878.507,982.402 c-0.973,1.026-2.339,1.615-3.751,1.615H733.405c-1.37,0-2.707-0.558-3.672-1.534c-0.942-0.95-1.483-2.257-1.492-3.597l5.423-114.806 h24.731v15.173c0,3.309,2.682,5.991,5.991,5.991c3.309,0,5.991-2.682,5.991-5.991v-15.173h67.917v15.173 c0,3.309,2.682,5.991,5.991,5.991c3.309,0,5.99-2.682,5.99-5.991v-15.173h23.321l6.313,114.49 C879.99,979.98,879.478,981.377,878.507,982.402z"/> </g>
                            
                                    </svg>
                                </button>
                </form>
                {% endif %}
                {% comment %} <a href="/{{x.id}}" class="arvo-regular float-right btn btn-success form-control text-white bg-black hover:bg-black-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-black-600 dark:hover:bg-black-700 dark:focus:ring-black-800">
                  Ver</a> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    {# Si hay 2 o menos productos, simplemente renderízalos todos #}
    {% for x in products_to_post %}
      <div>
        <h2>{{ x.name }}</h2>
        <p>{{ x.description }}</p>
        {# etc... #}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>



        

</section>

<div data-aos="fade-up" data-aos-duration="2000"  id="toast-message-cta" class="ml-4 fixed h-38 bottom-8 w-full flex items-center justify-center  w-full max-w-xs  text-gray-500 bg-white rounded-lg shadow " role="alert">
  <div class="flex">
      <img class="w-8 h-8 mt-6 rounded-full m-3" src="../static/logo.png" alt="Jese Leos image"/>
      <div class="ms-3 text-sm font-normal p-2">
          <span class="mb-1 text-sm font-semibold text-gray-900 ">USADelivery</span>
                       <div class="mb-2 text-sm font-normal">Visita nuestras redes sociales.</div> 
          <a href="https://www.facebook.com/profile.php?id=61555982112960" class="inline-flex px-2.5 py-1.5 text-xs font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">Facebook</a>   
          <a href="https://www.instagram.com/usadelivery90/" class="inline-flex px-2.5 py-1.5 text-xs font-medium text-center text-white bg-pink-600 rounded-lg hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-bg-pink-600 dark:bg-pink-600 dark:hover:bg-pink-600 dark:focus:ring-pink-600">Instagram</a> 
        </div>
      <button type="button" class="ms-auto -mx-1.5 -my-1.5  justify-center items-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 " data-dismiss-target="#toast-message-cta" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
      </button>
  </div>
</div>


{% endblock %}