{% extends "base.html" %}
{% block content  %}
{% load cart %}
{% load custom_filter %}


<section>
    <div class="bg-white text-black p-10">
      <div class="container mx-auto flex flex-col md:flex-row items-center md:my-14">
        <div class="flex flex-col w-full  justify-center items-start p-8 m-5">
          <h1 class=" roboto-slab text-6xl md:text-5xl pt-10 p-1 text-blue-600 tracking-loose text-bold" >
            Terminos y Condiciones de USA Delivery
          </h1>
          
          <h2 class="arvo-regular text-2xl md:text-2xl mt-4 mb-8">
            Bienvenido a USA Delivery. Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web de USA Delivery.
            Al acceder a este sitio web asumimos que aceptas estos términos y condiciones. No continúes usando USA Delivery si no estás de acuerdo con todos los términos y condiciones establecidos en esta página.
          </h2>
          <h2 class=" arvo-regular  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
            Derechos de Propiedad Intelectual.
          </h2>
          <p class="arvo-regular text-sm md:text-base mb-4">
            Salvo que se indique lo contrario, USA Delivery y/o sus licenciantes poseen los derechos de propiedad intelectual de todo el material en USA Delivery. Todos los derechos de propiedad intelectual están reservados. Puedes acceder a esto desde USA Delivery para tu uso personal sujeto a las restricciones establecidas en estos términos y condiciones.
          </p>
          <h2 class=" arvo-regular  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
            Productos
          </h2>
          <p class="arvo-regular text-sm md:text-base mb-4">
            Los monederos que se venden a través de USA Delivery se describen y presentan con la mayor precisión posible. No obstante, no garantizamos que las descripciones, colores o cualquier otro contenido en el sitio sean exactos, completos, confiables, actuales o libres de errores.
          </p>
          <h2 class=" arvo-regular  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
            Precios
          </h2>
          <p class="arvo-regular text-sm md:text-base mb-4">
            Los precios de nuestros productos en USA Delivery están sujetos a cambio sin notificación. Nos reservamos el derecho en cualquier momento de modificar o discontinuar el Producto (o cualquier parte o contenido del mismo) sin notificación en cualquier momento.
          </p>
          <h2 class=" arvo-regular  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
            Ordenes
          </h2>
          <p class="arvo-regular text-sm md:text-base mb-4">
            USA Delivery se reserva el derecho de rechazar o cancelar cualquier orden por cualquier razón, incluyendo limitaciones en las cantidades disponibles para la compra, errores en la descripción o precio del producto, o errores en la orden.
          </p>
          <h2 class=" arvo-regular  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
            Política de Devolución y Reembolso
          </h2>
          <p class="arvo-regular text-sm md:text-base mb-4">
            Los clientes pueden devolver los monederos dentro de los 30 días de haber recibido el pedido, siempre que los productos estén en su estado original y sin usar. USA Delivery emitirá reembolsos según el método original de pago tras la recepción y la inspección del producto devuelto.
          </p>
          <h2 class=" arvo-regular  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
            Limitación de Responsabilidad
          </h2>
          <p class="arvo-regular text-sm md:text-base mb-4">
            USA Delivery no será responsable ante el usuario o cualquier tercero por cualquier daño indirecto, consecuente, ejemplar, incidental, especial o punitivo, incluyendo lucro cesante derivado de su uso del sitio web o de USA Delivery.
          </p>
          <h2 class=" arvo-regular  text-2xl md:text-4xl leading-relaxed md:leading-snug mb-2">
            Cambios en los Términos y Condiciones
          </h2>
          <p class="arvo-regular text-sm md:text-base mb-4">
            USA Delivery se reserva el derecho, a nuestra discreción, de actualizar, cambiar o reemplazar cualquier parte de estos Términos y Condiciones al publicar actualizaciones y cambios en nuestro sitio web. Es responsabilidad del usuario revisar nuestro sitio web periódicamente para verificar los cambios.
          </p>
          
        </div>
      </div>
    </div>
</section>



{% endblock   %}
